# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env
**/.env

# Build Artifacts
*.exe
*.dll
*.pyd
*.zip
*.pkg
*.pyz
*.toc
build/
dist/
Analysis-00.toc
COLLECT-00.toc
EXE-00.toc
PKG-00.pkg
PKG-00.toc
PYZ-00.pyz
PYZ-00.toc
base_library.zip
python37.dll

# Project Specific
success_conn.txt
# Maps_to_Rename/
# MCCStats/
carnagereporter.exe.manifest
server/output/
server/.puppeteer_renderer/
server/server.log
client.log

# IDEs
.vscode/
.idea/

# Node
node_modules/
**/node_modules/
package-lock.json
.wwebjs_auth/
.wwebjs_cache/
**/.wwebjs_auth/
**/.wwebjs_cache/
